*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* -----header------ */
.header{
    height: 5%;
    width: 100%;
    background-color: rgb(66, 62, 62);
    /* background-position: center; */
    /* background-size: cover; */
    /* position: relative; */
}
nav{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}
.logo{
    flex: 1;
    text-align: left;
}
.logo ul li{
    list-style: none;
    display: inline-block;
    /* position: relative; */
}
.clarusway{
    color: rgb(154, 28, 245);
    font-weight: 600;
    font-size: 25px;
}
.web_design{
    color: #fff;
    font-weight: 600;
    font-size: 25px;    
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    /* position: relative; */
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li a:hover{
    /* width: 100%; */
    color: rgb(154, 28, 245);

}
hr{
    height: 4px;
    background-color: rgb(154, 28, 245);
    border: 0;

}
/*--------- professional Web Design ----- */
.professional{
    width: 100%;
    color: #fff;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/showcase.jpg);
    background-position: center;
    /* background-size: cover; */
    /* position: absolute; */
    text-align: center;
    height: 28%;
    padding-top: 5%;
    padding-bottom: 5%;
    /* position: relative; */
}
.professional h1{
    font-size: 40px;
}
.professional p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

/* -----Subscribe ----- */
.subscribe{
    background-color: rgb(66, 62, 62);
    /* height: 5%; */
    width: 96%;
    /* background-position: center; */
    /* background-size: cover; */
    /* position: absolute; */
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    /* align-items: center; */
}
.subscribe h3{
    color: #fff;
}
.subscribe .subscribe_btn{
    padding-right: 1%;
    font-size: 25px;
}
.subscribe button{
    color: #fff;
    background-color: #f44336;
    padding: 2px;
    cursor: pointer;
    border: none;
}

/* ---- advertising ----- */
.advertising{
    width: 100%;
    margin-bottom: 5px;
    padding-top: 100px;
    text-align: center;
    /* background-position: center; */
    /* background-size: cover; */
    /* position: relative; */
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}
.row{
    /* margin-top: 0; */
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 10px; */
}
.advertising-col{
    flex-basis: 31%;
    background: #fff3f3dc;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 12px;
    transition: 0.5s;
    margin-top: 5px;
}
.advertising-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.advertising-col p{
    font-size: 16px;
}
/* -----footer ------- */

footer{
    height: 5%;
    width: 100%;
    background-color: rgb(66, 62, 62);
    /* background-position: center; */
    /* background-size: cover; */
    position: relative;
    text-align: center;
    align-items: center;
    color: #fff;
    float: bottom;
}

/* ------About Us--------- */

.about_body{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25%;
    margin: 15px 15px 25% 25px;
}
.about_us h2{
    margin-bottom: 15px;
}
.alt_menu{
    background-color: rgb(68, 67, 67);
    color: #fff;
    padding: 15px 8px;
}
.what_we{
    background-color: rgb(68, 67, 67);
    color: #fff;
    margin-left: 15px;
    padding-bottom: 0;
    padding-top: 25px;
    margin-bottom: 0;
}

/* ------- Services ----- */

/* .col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */
.services-row{
    background-color: rgb(247, 244, 244);
    margin: 5px 5px;
    text-align: left;
    border-radius: 10px;
}
.services-row:hover{
    cursor: pointer;
}

/* --------Quote --------------- */

.Quote{
    background-color: rgb(66, 62, 62);
    color: #fff;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 5px;
}
.quote_form{
    width: 80%;
    margin-left: 10px;
}
.quote_submit{
    background-color: #f44336;
    color: #fff;
    margin: 10px;
    padding: 6px;
    box-shadow: none;
}
.general-row{
    display: flex;
    justify-content: space-between;
}